<div class="jumbotron">
  <h1 class="display-4">Ensemble</h1>
  <p class="lead">Listen to music from anytime in history</p>
  <hr class="my-4">
  <p>Yes, even cavemen music </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>

<p>Songs</p>
	<div class="container">
  	<div class="row">
    	<table class="table table-striped">
      	<thead>
        	<tr>
          	<th scope="col">#</th>
          	<th scope="col">Title</th>
          	<th scope="col">Created</th>
          	<th scope="col">Feeding Time</th>
          	<th scope="col">Thumb Nails</th>
        	</tr>
      	</thead>
      <tbody>
				<% @songs.each do |song| %>
  				<tr>
						<td><%= song.id %></td>
          	<td class = "song-title"><%= song.title %></td>
          	<td><%= song.created_at.strftime('%d.%m.%Y') %></td>
						<td>
						<% if song.hours == nil %>
							<%= '' %>
						<% else %>
							<%= song.hours.strftime("%I:%M%p") %>
						<% end %>
						</td>
						<td> <%= cl_image_tag(song.image, :width => 50, :height => 50)%></td>
						<td>
    					<%= link_to 'Show', song_path(song)%>
    				</td>
    				<td>
    					<%= link_to 'Edit', edit_song_path(song)%>
    				</td>
						<td>
							<%= link_to 'Destroy', song_path(song),
        			method: :delete,
        			data: { confirm: 'Are you sure you want to delete this song?' } %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<% if user_signed_in? %>
	<%= link_to 'Add New Song', new_song_path %>
<% end %><br/>

<img src = "<%= image_url 'raw-run.jpg' %>"/>

