<p>Create New Song</p>

<%= form_with scope: :song, url: songs_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %><br>
		<%= form.label :hours %><br>
		<%= form.time_field :hours %><br>
		<%= form.label :picture %><br>
		<!--<%= cl_image_upload_tag(:picture, :html => { :multiple => false }) %> -->
    <%= form.file_field :picture %>
  </p>
    <%= form.submit %>
<% end %>

<%= link_to 'Back', songs_path %>
